CREATE TABLE IF NOT EXISTS "user" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "username" varchar NOT NULL, "password" varchar NOT NULL, "createdBy" varchar, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime NOT NULL DEFAULT (datetime('now')), CONSTRAINT "UQ_78a916df40e02a9deb1c4b75edb" UNIQUE ("username"));
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "product" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar NOT NULL, "name" varchar NOT NULL, "quantity" integer NOT NULL, "priceForSale" float NOT NULL, "priceForBuying" float NOT NULL, "category" varchar NOT NULL, "addedby" varchar NOT NULL, CONSTRAINT "UQ_99c39b067cfa73c783f0fc49a61" UNIQUE ("code"));
CREATE TABLE IF NOT EXISTS "order" ("id" integer PRIMARY KEY AUTOINCREMENT NOT NULL, "orderNumber" integer NOT NULL, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "comment" text, "items" json NOT NULL, "total" float NOT NULL, "date" TEXT, "time" TEXT);
